body {
  padding-top: 30px;
}

.starter-template {
  padding: 40px 15px;
  text-align: left;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  
  height: 60px;
  background-color: #1A1A1A;
}

.container .text-muted {
  margin: 20px 0;
  color: white;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
